@media (max-width: 600px) {
    * {
        font-size: 22px;
    }

    .toDate{
        margin-top: 1vw;
        margin-left: 0;
    }
    .top {
        height: 32vw;
    }

    .Configure {
        margin-top: -1.8rem;
        height: 14rem;
    }
    .dayTime {
        width: 50vw;
    }


    .dateField {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 18rem;
        margin-top: 0.8rem;
    }
    .dateField input {
        width: 4.3rem;
        margin-left: 0.3rem;
        font-weight: lighter;
        font-size: 18px;
    }
    .dateField div {
        width: 12rem;
    }

    .results {
        flex-direction: column;
        align-items: center ;
        padding: 5vw 0;
        width: 48vw;
    }
    .results div {
        width: 6rem;
        height: 2rem;
        margin-left: 0;
        border-radius: 0.4rem;
        margin-top: 2vw;
    }
    .actionButton {
        width: 5.7rem;
        height: 1.8rem;
        border-radius: 0.4rem;
    }
}

@media (max-width: 400px) {
    .top h2 {
        margin-top: -5vh;
    }
    .dayTime {
        width: 70vw;
    }
}

@media (max-width: 300px) {
    .Configure {
        margin-top: -1.2rem;
        height: 50rem;
        border-radius: 1rem;
        width: 100vw;
    }

    .toDate{
        margin-top: 2vw;
    }
}