* {
    margin: 0;
    padding: 0;
    font-size: 24px;
    
    font-family: "Great Vibes", cursive;
}


.top {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    width: 100vw;
    height: 18vw;

    background: #c379b9;
}
.top h2 {
    font-size: 26px;
}

.mainHeader {
    height: 5vw;

    text-align: center;
}

.Configure {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 4vw 1vw;

    width: 80vw;
    min-height: 15vw;

    position: relative;
    left: 50%;
    margin-top: -2rem;
    transform: translate(-50%);

    background: #fff;

    /* border: solid 1px #000; */
    border-radius: 2rem;
    box-shadow: 0 0 2vw 0.8vw rgba(45, 45, 45, 0.2);
}

.dayTime {
    margin-bottom: 1.4vw;
    min-width: 20vw;
    display: flex;
    justify-content: space-around;
}

.number {
    width: 3rem;
    min-height: 1.2rem;
    text-align: center;
    margin-left: 1.5rem;
}

.dateField {
    display: flex;
    justify-content: center;

    margin-top: 3rem;
    min-width: 45vw;
}

.dateField input {
    margin-left: 0.5rem;
}

.toDate {
    margin-left: 2rem;
}

.results {
    width: 60vw;
    position: relative;
    left: 50%;
    translate: -50%;
    margin-top: 4vw;
    padding: 2vw;

    display: flex;
    justify-content: center;

    border-radius: 1rem;
    box-shadow: 0 0 2vw 0.8vw rgba(45, 45, 45, 0.2);
}
.results div {
    width: 10rem;
    height: 3rem;
    border: solid 1px #7a7676;
    border-radius: 0.8rem;
    margin-left: 5vw;
}
.actionButton {
    width: 8rem;
    height: 3rem;
    background-color: #f2efef;
    border-radius: 1rem;
    border: solid 1px #c379b9;
}
.actionButton:hover {
    background-color: #cf84c9;
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
}